@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.inter400{
  font-family: 'Inter';
  font-weight: 400;
}

.inter600{
  font-family: 'Inter';
  font-weight: 600;
}

.inter900{
  font-family: 'Inter';
  font-weight: 900;
}

.loader {
  width: 60px;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Loading';
  }
  33% {
    content: 'Loading.';
  }
  67% {
    content: 'Loading..';
  }
  100% {
    content: 'Loading...';
  }
}